{% extends "newsurvey/index.html"%}
{% load staticfiles %}
{% block content %}

<section class="table section">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Add question against Survey</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'add_questions' %}" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}
                               <div class="form-group">
                                <label class="control-label" for="Survey-list"><h5>
                                    Total Surveys:</h5></label>
                                 <select id='dropdownid' name="dropdownid">
                                  <option value=''>- Please choose -</option>
                                 {% for c in total_surveylist %}
                                 <option value="{{ c.survey_name}}">{{ c.survey_name }}</option>
                                  {% endfor %}

                            </select>

                         </div>

                           <div class="form-group">
                            <label for="Csv_Filename" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                            <div class="col-md-8">
                                <input type="file" name="questionsv_file" id="questionsv_file" required="True" class="form-control">
                                {{form.name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                                <button class="btn btn-primary"><span class="glyphicon glyphicon-upload"
                                                                      style="margin-right:5px;"></span>Upload
                                </button>
                            </div>
                        </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</section>
{% endblock %}
